<hr>
<div class="container span11">
  <small>
    Originally built at <a href="http://boston.musichackday.org/">Music Hack Day @ MIT</a> by
    <a href="http://twitter.com/plamere"> Paul Lamere </a>
      Originaly hosted by <a href="https://eternalbox.dev">UnderMybrella</a>, edited (butchered) and rehosted by <a href="https://t.me/freemanovec">Freem</a> and
      powered by <a href="https://spotify.com/">Spotify. </a>
  </small>
</div>
