<head>

  {% if page.layout == 'go' %}<script src="js/raphael-min.js" type="text/javascript" charset="utf-8"></script>{% endif %}
  <link rel="stylesheet" href="files/canonizer_styles.css?version={{ site.data.var.version }}" type="text/css" media="screen">
  {% if page.app == 'jukebox' and page.layout == 'go' %}<link rel="stylesheet" href="files/styles.css?version={{ site.data.var.version }}" type="text/css" media="screen">{% endif %}
  <script src="{{ site.data.var.jquery }}/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="{{ site.data.var.cdn }}/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.data.var.cdn }}/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="{{ site.data.var.cdn }}/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
  <script src="js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <title> {{ page.title }} </title>

  {% if page.type == 'faq' %}
  <style>
      .indented {
          padding-left: 2.5%;
          padding-right: 2.5%;
      }

      .question {
          font-size: 28px
      }
  </style>
  {% endif %}

  <meta property="og:title" content="The Eternal Jukebox"/>
  <meta property="og:description" content="Making songs infinite uwu"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:image" content="{{ "/files/eternal.png" | absolute_url }}"/>
  <meta charset="utf-8" />
</head>
