---
title: 'The Freem Jukebox'
layout: default
app: jukebox
---

<div id="hero" class="hero-unit">
<div class="container">
{% capture x %}
# The ~~Infinite~~ ~Eternal~ Freem Jukebox
#### For when your favorite song just isn't long enough

<br>

[![eternal](files/eternal.png)](jukebox_go.html?id=03UrZgTINDqvnUMbbIMhql)
<div class="container lead span11" markdown="1">
  *For when your favorite song just isn't long enough.*
  <br>
  This web app lets you search a song on Spotify and will then generate a never-ending and ever changing version of the song.
  It does what Infinite Gangnam Style did but for any song.
  {% endcapture %}{{ x | markdownify }}
  <br>
</div>
</div>
<p style="margin-top:20px;">
