---
layout: default

buttons:
   - name: Play
     id: go
---

<div id='info-div'>
    <span id='info'> </span>
</div>

<div id='error'></div>
<div class="go-container">
    <div id="hero" class="go-container-child">
        <div id="stats">
            <div id="details">
                <a href="" target="_blank" id="song-url"><span id="song-title"> </span></a>
                <br>
                <span id="button-panel">
                    {% for item in layout.buttons %}
                    <button class="btn btn-small btn-default" id="{{ item.id }}">{{ item.name }}</button>
                    {% endfor %}
                </span>
            </div>
            {{ content }}
        </div>
    </div>
    <div id="controls" visibility="visible" style="display: block;" class="go-container-child">
        <div>
            <div id="threshold-div">
                <div>
                    <span class="left-label"> Higher<br> Quality </span>
                    <span class="right-label"> More <br>Branches </span>
                </div>
                <input type="range" id="threshold-slider" name="threshold" min="2" max="80" value="30" step="1">
                <label id="sthreshold" for="threshold-slider">Branch Similarity Threshold: <span id="threshold">50</span></label>
            </div>

            <br clear="all">

            <div id="probability-div">
                <div>
                    <span class="left-label"> Low </span>
                    <span class="right-label"> High </span>
                </div>
                <input type="range" id="probability-lower-slider" name="probability-lower" min="0" max="100" value="18" step="1">
                <label for="probability-lower-slider">Branch Probability Range Lower Bound: <span id="probability-lower">18</span>%</label>
                <div>
                    <span class="left-label"> Low </span>
                    <span class="right-label"> High </span>
                </div>
                <input type="range" id="probability-higher-slider" name="probability-higher" min="0" max="100" value="50" step="1">
                <label for="probability-higher-slider">Branch Probability Range Higher Bound: <span id="probability-higher">50</span>%</label>
            </div>

            <br clear="all">

            <div id="probability-div">
                <div>
                    <span class="left-label"> Slow </span>
                    <span class="right-label"> Fast </span>
                </div>
                <input type="range" id="probability-slider" name="probability" min="0" max="100" value="30" step="2">
                <label id="sprobability" for="probability-slider">Branch Probability Ramp-up Speed: <span id="probability">30</span>%</label>
            </div>

            <br clear="all">

            <div class="l-cb" id="l-last-branch"> Loop extension optimization: <input id="last-branch" checked="checked" type="checkbox"></div>
            <div class="l-cb" id="l-reverse-branch"> Allow only reverse branches : <input id="reverse-branch" type="checkbox"></div>
            <div class="l-cb" id="l-long-branch"> Allow only long branches : <input id="long-branch" type="checkbox">
            </div>
            <div class="l-cb" id="l-sequential-branch"> Remove sequential branches: <input id="sequential-branch" type="checkbox"></div>
            <div class="l-cb" id="l-audio-url">Audio URL: <input id="audio-url" type="url"></div>
            <br>

            <div id="volume-div">
                <input type="range" id="volume-slider" name="volume" min="0" max="100" value="15" step="1">
                <label id="svolume" for="volume-slider">Volume: <span id="volume">50</span></label>
            </div>
            
            <br clear="all">

            <div id="speed-div">
                <input type="range" id="speed-slider" name="speed" min="5" max="500" value="100" step="1">
                <label id="sspeed" for="speed-slider">Speed: <span id="speed">100</span>%</label>
            </div>

            <br clear="all">

            <div id="tune-info">
                <div id="l-branch-chance"> Branch chance (%): <span class="ti-val" id="branch-chance">18</span></div>
                <div id="l-branch-threshold"> Last threshold: <span class="ti-val" id="last-threshold">0</span></div>
                <br>
                <div id="l-beat-count"> Total beats: <span class="ti-val" id="total-beats"></span></div>
                <div id="l-branch-count"> Total branches: <span class="ti-val" id="branch-count"></span></div>
                <div id="l-loop-length-beats"> Longest loop (beats): <span class="ti-val" id="loop-length-beats"></span>
                </div>
                <div id="l-loop-length-percent"> Longest loop (%): <span class="ti-val" id="loop-length-percent"></span>
                </div>
            </div>
            <button class="btn btn-small" id="reset-edges"> Reset</button>
            <button class="btn btn-small" id="close-tune"> Close</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/go-jukebox.js"></script>

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" style="display: none; outline: 0px none; z-index: 1000;" tabindex="-1" role="dialog" aria-labelledby="ui-id-1">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span id="ui-id-1" class="ui-dialog-title">Fine tune your endless song</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span
            class="ui-icon ui-icon-closethick"></span></a></div>
</div>
