---
layout: default
---

<div id="hero" class="hero-unit">
  <div class="container">
    <h2> Search for a song</h2>
        <div id='select-track'>
          <div id="search-div">
            <div id='search-form'>
                Search for a track: <input id="search" type="text" class="input-large search-query" title="search">
                <button id="go-search" class='btn btn-default'> Search </button>
            </div>
          </div>
        </div>
  </div>
</div>
<ul id="song-list"> </ul>

<script type="text/javascript" src="js/search.js"></script>
